/*main*/
.maincon {
  height: 400px;
  width: 100%;
}

.registro {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Sofadi One", system-ui;
  color: #e8e9e2;
}

#mensaje {
  vertical-align: top;
}

#grillacon {
  display: grid;
  height: 150px;
  grid-template-rows: 150px;
  grid-template-columns: 100px 100px 100px;
  grid-template-areas: "a1 a2 a3";
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

.mail {
  height: 80px;
  width: 80px;
  padding: 0 0 0 112px;
  grid-area: "a1";
}

.mail:hover {
  height: 80px;
  width: 80px;
}

.pmail {
  height: 30px;
  text-align: center;
  font-family: "Sofadi One", system-ui;
  font-size: 25px;
  color: #e8e9e2;
}

.insta {
  height: 80px;
  width: 80px;
  grid-area: "a2";
  padding: 0 0 32px 0;
}

.insta:hover {
  height: 80px;
  width: 80px;
}

.whatsapp {
  height: 80px;
  width: 80px;
  padding: 0 0 0 25px;
  grid-area: "a3";
}

.whatsapp:hover {
  height: 80px;
  width: 80px;
}

.pwhatsapp {
  height: 30px;
  text-align: center;
  font-family: "Sofadi One", system-ui;
  font-size: 25px;
  color: #e8e9e2;
}

@media (hover: hover) {
  img:hover {
    height: 200px;
    width: 200px;
  }
}
/*fin main*/
/*para mobil*/
@media only screen and (max-width: 600px) {
  /*main*/
  .maincon {
    height: 700px;
    background-size: contain;
  }
  .registro {
    height: 230px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  #grillacon {
    display: grid;
    height: 400px;
    grid-template-rows: 150px;
    grid-template-columns: 100px;
    grid-template-areas: "a1" "a2" "a3";
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
  }
  /*fin main*/
}
/*fin para mobil*/
/*main*/
.mainnh {
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

#grillanh {
  display: grid;
  height: 400px;
  width: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "a1 a2";
  justify-items: center;
  align-items: start;
  justify-content: space-around;
}

.parrafonh {
  text-align: center;
  font-family: "Sofadi One", system-ui;
  font-size: 20px;
  padding: 0 10px 0 10px;
  color: #e8e9e2;
}

.fabrica {
  justify-items: center;
  align-items: center;
  height: 350px;
  width: 80%;
  grid-area: "a1";
  padding: 0 0 0 10%;
}

.fabricap {
  text-align: center;
  font-family: "Sofadi One", system-ui;
  font-size: 20px;
  color: #e8e9e2;
}

.fabrica:hover {
  height: 350px;
  width: 80%;
}

.iframenh {
  align-items: center;
  height: 350px;
  width: 80%;
  grid-area: "a2";
  padding: 0 0 0 10%;
}

.iframenhp {
  text-align: center;
  font-family: "Sofadi One", system-ui;
  font-size: 20px;
  color: #e8e9e2;
}

/*para mobil*/
@media only screen and (max-width: 600px) {
  /*main*/
  .mainnh {
    height: 1070px;
    background-size: contain;
    padding-top: 50px;
  }
  #grillanh {
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 300px;
    grid-template-areas: "a1" "a2" "a3";
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  .parrafonh {
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 15px;
  }
  .fabrica {
    grid-area: "a1";
    height: 300px;
    width: 300px;
    padding: 0;
  }
  .iframenh {
    grid-area: "a2";
    height: 300px;
    width: 300px;
    padding: 0;
  }
  /*fin main*/
}
/*fin para mobil*/
/*main*/
.mainnc {
  height: 1200px;
  width: 100%;
  padding-top: 100px;
}

#grillanc {
  display: grid;
  height: 1100px;
  grid-template-rows: 350px 350px 350px;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a9";
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  grid-row-gap: 30px;
}

.ipa {
  grid-area: "a1";
  height: 300px;
  width: 300px;
}

.apa {
  grid-area: "a2";
  height: 300px;
  width: 300px;
}

.blonde {
  grid-area: "a3";
  height: 300px;
  width: 300px;
}

.amber {
  grid-area: "a4";
  height: 300px;
  width: 300px;
}

.argenta {
  grid-area: "a5";
  height: 300px;
  width: 300px;
}

.scottish {
  grid-area: "a6";
  height: 300px;
  width: 300px;
}

.stout {
  grid-area: "a7";
  height: 300px;
  width: 300px;
}

.honey {
  grid-area: "a8";
  height: 300px;
  width: 300px;
}

.img {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  background-color: #d9a13b;
  color: #e8e9e2;
}

@media (hover: hover) {
  img:hover {
    height: 300px;
    width: 300px;
  }
}
/*main*/
/*para mobil*/
@media only screen and (max-width: 600px) {
  /*main*/
  .mainnc {
    height: 3050px;
    background-size: contain;
  }
  #grillanc {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 350px;
    grid-template-columns: 300px;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8";
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  /*fin main*/
}
/*fin para mobil*/
.mainpe {
  height: 600px;
  width: 100%;
  padding-top: 50px;
}

.parrafo {
  text-align: center;
  font-family: "Sofadi One", system-ui;
  font-size: 25px;
  padding: 0 0 30px 0;
  color: #e8e9e2;
}

#grillape {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-rows: 350px;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-areas: "a1 a2 a3 a4";
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 50px;
}

img:hover {
  height: 350px;
  width: 350px;
}

.imgp {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #e8e9e2;
}

.simple {
  grid-area: "a1";
  height: 300px;
  width: 300px;
}

.doble {
  grid-area: "a2";
  height: 300px;
  width: 300px;
}

.diez {
  grid-area: "a3";
  height: 300px;
  width: 300px;
}

.veinte {
  grid-area: "a4";
  height: 300px;
  width: 300px;
}

@media (hover: hover) {
  img:hover {
    height: 350px;
    width: 350px;
  }
}
/*para mobil*/
@media only screen and (max-width: 600px) {
  /*main*/
  .mainpe {
    height: 2010px;
    background-size: contain;
  }
  #grillape {
    display: grid;
    width: 100%;
    height: 1700px;
    grid-template-rows: 400px;
    grid-template-columns: 300px;
    grid-template-areas: "a1" "a2" "a3" "a4";
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .parrafo {
    padding: 0 10px 100px 10px;
    text-align: center;
  }
  .simple {
    grid-area: "a1";
    padding: 0;
  }
  .doble {
    grid-area: "a2";
    padding: 0;
  }
  .diez {
    grid-area: "a3";
    padding: 0;
  }
  .veinte {
    grid-area: "a4";
    padding: 0;
  }
  /*fin main*/
}
/*fin para mobil*/
/*main*/
.mainubi {
  height: 650px;
  width: 100%;
  padding-top: 100px;
}

#grillaubi {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-rows: 500px;
  grid-template-columns: 500px;
  grid-template-areas: "a1";
  justify-items: center;
  align-items: center;
  justify-content: center;
}

iframe {
  grid-area: "a1";
  height: 500px;
  width: 500px;
}

.parrafoubi {
  text-align: center;
  padding: 0 0 50px 0;
  font-family: "Sofadi One", system-ui;
  font-size: 25px;
  color: #e8e9e2;
}

/*fin main*/
/*para mobil*/
@media only screen and (max-width: 600px) {
  /*main*/
  .mainubi {
    height: 600px;
    background-size: contain;
  }
  #grillaubi {
    display: grid;
    width: 100%;
    height: 350;
    grid-template-rows: 350px;
    grid-template-columns: 350px;
    grid-template-areas: "a1";
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  iframe {
    height: 350px;
    width: 350px;
    grid-area: "a1";
  }
  .parrafoubi {
    padding: 0px 10px 50px 10px;
    text-align: center;
  }
  /*fin main*/
}
/*fin para mobil*/
/* desktop*/
* {
  padding: 0;
  margin: 0;
}

/*header*/
header {
  box-sizing: border-box;
  height: 501px;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  height: 51px;
  background-color: #1fd7fc;
  text-align: center;
  font-family: "Bevan", serif;
  color: #f6fafe;
}

#banner {
  height: 400px;
  width: 100%;
}

/* porque queda un espacio en blanco entre el nav y el banner? */
nav {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background-color: #a5a4a1;
  font-family: "Permanent Marker", cursive;
}
nav ul {
  display: flex;
  list-style-type: none;
  box-sizing: border-box;
}
nav ul li {
  height: 50px;
  display: inline-flex;
  width: 19%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #a06802;
}

/*fin header*/
main {
  height: 550px;
  background-color: #1F2B37;
}

a {
  text-decoration: none;
  color: black;
}

.indexh2 {
  font-family: "Bevan", serif;
  padding: 20px 0 0px 10px;
  color: #d9a13b;
}

.indexh {
  font-family: "Bevan", serif;
  padding: 0px 0 0px 10px;
  color: #d9a13b;
}

.indexp {
  padding: 10px 10px 10px 10px;
  font-family: "Sofadi One", system-ui;
  color: #e8e9e2;
}

/*footer*/
footer {
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  background-color: #a5a4a1;
  font-family: "Ubuntu", sans-serif;
  padding: 0 0 0 5px;
}
footer .fo {
  font-family: "Bevan", serif;
}

/*fin footer*/
/*fin desktop*/
/*para mobil*/
@media only screen and (max-width: 600px) {
  /*header*/
  header {
    height: 500px;
  }
  #banner {
    height: 250px;
    width: 100%;
  }
  nav {
    height: 200px;
    padding-bottom: 5px;
  }
  nav ul {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  /*fin header*/
  /*main*/
  main {
    height: 750px;
  }
  /*fin main*/
  /*footer*/
  footer {
    height: 100px;
    width: 100%;
    padding: 0 0 0 5px;
  }
  /*fin footer*/
}
/*fin para mobil*/

/*# sourceMappingURL=styles.css.map */
