@import "partials/contacto" ;
@import "partials/nuestrahistoria" ;
@import "partials/nuestrascervezas" ;
@import "partials/paraeventos" ;
@import "partials/ubicacion" ;

/* desktop*/
*{
    padding: 0;
    margin: 0;
}
/*header*/
header{
    box-sizing: border-box;
    height: 501px;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    height: 51px;
    background-color: #1fd7fc;
    text-align: center;
    font-family: "Bevan", serif;
    color: #f6fafe;
}
#banner{
    height: 400px;
    width: 100%;
}
/* porque queda un espacio en blanco entre el nav y el banner? */
nav{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    background-color: #a5a4a1;
    font-family: "Permanent Marker", cursive;
    
    ul{
        display: flex;
        list-style-type: none;
        box-sizing: border-box;
        
        li{
            height: 50px;
            display: inline-flex;
            width: 19%;
            text-align: center;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
a:hover{
    color: #a06802;

}
/*fin header*/
main{
    height: 900px;
    padding-top: 100px;
    background-color: #1F2B37;
}
a{
    text-decoration: none;
    color: black;
    
}
.indexh{
    font-family: "Bevan", serif;
    padding: 0px 0 0px 10px;
    color: #d9a13b;
}
.indexp{
    padding: 10px 10px 10px 10px;
    font-family: "Sofadi One", system-ui;
    color: #e8e9e2;
}
/*footer*/
footer{
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    background-color: #a5a4a1;
    font-family: "Ubuntu", sans-serif;
    padding: 0 0 0 5px;
      .fo{
        font-family: "Bevan", serif;
      }
}
/*fin footer*/
/*fin desktop*/
/*para mobil*/
@media only screen and (max-width:600px) {
    /*header*/
    header{
       height: 650px;
   }
   nav{
       height: 200px;
       padding-bottom: 5px;
       ul{
          height: 100%;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
    }
   }
   /*fin header*/
   /*main*/
   main{
       height: 750px;
   }
   /*fin main*/
    /*footer*/
    footer{
       height: 100px;
       width: 100%;
       padding: 0 0 0 5px
   }
   /*fin footer*/
}
/*fin para mobil*/