$parrafo: #e8e9e2;
$medida: 200px;

/*main*/ 
.maincon{
    height: 650px;
    width: 100%;
}
.registro{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Sofadi One", system-ui;
    color: $parrafo;
}    
#mensaje{
    vertical-align: top;
}
#grillacon{
    display: grid;
    height: 300px;
    grid-template-rows: 350px;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas: "a1 a2 a3";
    justify-items: center;
    align-items: center;
    justify-content: space-around;  
}
.mail{
    height: $medida;
    width: $medida;
    padding: 0 0 0 50px;
    grid-area: "a1";
}
.mail:hover{
    height: $medida;
    width: $medida;
}
.pmail{
    height: 30px;
    width: 305px;
    text-align: center;
    font-family: "Sofadi One", system-ui;
    font-size: 25px;
    color: $parrafo;
}
.insta{
    height: $medida;
    width: $medida;
    grid-area: "a2";
    padding: 0 0 32px 0;
}
.insta:hover{
    height: $medida;
    width: $medida;
}
.whatsapp{
    height: $medida;
    width: $medida;
    grid-area: "a3";
}
.whatsapp:hover{
    height: $medida;
    width: $medida;
}
.pwhatsapp{
    height: 30px;
    width: 200px;
    text-align: center;
    font-family: "Sofadi One", system-ui;
    font-size: 25px;
    color: $parrafo;
}
@media (hover: hover){
    img:hover{
        height: 200px;
        width: 200px;
    }
}
/*fin main*/
/*para mobil*/
@media only screen and (max-width:600px){
    /*main*/
    .maincon{
        height: 1400px;
        background-size: contain;
    }
    .registro{
        height: 230px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    #grillacon{
        display: grid;
        height: 1100px;
        grid-template-rows: 350px;
        grid-template-columns: 300px;
        grid-template-areas: "a1"
                             "a2"
                             "a3";
        align-content: center;
        justify-items: center;
        align-items: center;
        justify-content: space-around;
    } 
    /*fin main*/
 }
 /*fin para mobil*/