/*main*/
.mainnh{
    height: 700px;
    width: 100%;
    padding-top: 100px;
}
#grillanh{
    display: grid;
    height: 400px;
    grid-template-rows: 500px;
    grid-template-columns: 600px 600px;
    grid-template-areas: "a1 a2";
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}
.parrafonh{
    text-align: center;
    font-family: "Sofadi One", system-ui;
    font-size: 20px;
    padding: 0 10px 0 10px;
    color: #e8e9e2;
}
.fabrica{
    height: 400px;
    width: 600px;
    grid-area: "a1";
}
.fabrica:hover{
    height: 400px;
    width: 600px;
}
.iframenh{
    height: 400px;
    width: 600px;
    grid-area: "a2";
}
/*para mobil*/
@media only screen and (max-width:600px) { 
    /*main*/
    .mainnh{
        height: 1000px;
        background-size: contain; 
        padding-top: 50px;     
    }
    #grillanh{
        display: grid;
        grid-template-rows: 350px;
        grid-template-columns: 300px;
        grid-template-areas: "a1"
                             "a2"
                             "a3";
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    .parrafonh{
        padding: 0 10px 0 10px;
        text-align: center;
        font-size: 15px;
    }
    .fabrica{
        grid-area: "a1";
        height: 300px;
        width: 300px;
        padding: 0;
    }
    .iframenh{
        grid-area: "a2";
        height: 300px;
        width: 300px;
        padding: 0;
    }
    /*fin main*/
}
/*fin para mobil*/