/*main*/
.mainubi{
    height: 650px;
    width: 100%;
    padding-top: 100px; 
}
#grillaubi{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-rows: 500px;
    grid-template-columns: 500px;
    grid-template-areas: "a1";
    justify-items: center;
    align-items: center;
    justify-content: center;
}
iframe{
    grid-area: "a1";
    height: 500px;
    width: 500px;
}
.parrafoubi{
    text-align: center;
    padding: 0 0 50px 0;
    font-family: "Sofadi One", system-ui;
    font-size: 25px;
    color: #e8e9e2;
}
/*fin main*/
/*para mobil*/
@media only screen and (max-width:600px) { 
    /*main*/
    .mainubi{
        height: 600px;
        background-size: contain; 
    }
    #grillaubi{
        display: grid;
        width: 100%;
        height: 350;
        grid-template-rows: 350px;
        grid-template-columns: 350px;
        grid-template-areas: "a1";
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    iframe{
        height: 350px;
        width: 350px;
        grid-area: "a1";
    }
    .parrafoubi{
        padding: 0px 10px 50px 10px;
        text-align: center;
    }
    /*fin main*/
}
/*fin para mobil*/