*{
    padding: 0;
    margin: 0;
}
/*header*/
.ho{
    background-color: aqua;
    text-align: center;
    font-family: "Bevan", serif;
}
img{
    height: 400px;
    width: 100%;
}
header{
    height: 490px;
    background-repeat: no-repeat;
    background-size: cover;  
}
nav{
    height: 10%;
    width: 100%;
    background-color: rgb(227, 160, 72);
    font-family: "Permanent Marker", cursive;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    height: 50px;
    display: inline-flex;
    width: 19%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
/*fin header*/
/*main*/
main{
    height: 700px;
    width: 100%;
    padding-top: 100px;
    background-image: url("https://image.slidesdocs.com/responsive-images/background/yellow-summer-festival-beer-powerpoint-background_d100befabf__960_540.jpg");
    background-size: cover;
}
.parrafo{
    text-align: center;
    font-family: "Sofadi One", system-ui;
    font-size: 20px;
    padding: 0 10px 0 10px;
}
.fabrica{
    height: 400px;
    width: 600px;
    padding: 30px 100px 50px 20px;
}
iframe{
    padding: 0 100px 50px 50px;
}
/*footer*/
footer{
    height: 100px;
    width: 100%;
    background-color: rgb(227, 160, 72);
    font-family: "Ubuntu", sans-serif;
}
 .fo{
    font-family: "Bevan", serif;
 }
 /*fin footer*/
 /*para mobil*/
 @media only screen and (max-width:600px) { 
    /*header*/
    header{
        height: 650px;
        background-color: rgb(227, 160, 72);
    }
    nav{
        height: 200px;
    }
    ul{
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    /*fin header*/
    /*main*/
    main{
        height: 1000px;
        background-color: gray;
        background-size: contain; 
        padding-top: 50px;     
    }
    #grilla{
        display: grid;
        grid-template-rows: 350px;
        grid-template-columns: 300px;
        grid-template-areas: "a1"
                             "a2"
                             "a3";
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    .parrafo{
        padding: 0 10px 0 10px;
        text-align: center;
        font-size: 15px;
    }
    .fabrica{
        grid-area: "a1";
        height: 300px;
        width: 300px;
        padding: 0;
    }
    iframe{
        grid-area: "a2";
        height: 300px;
        width: 300px;
        padding: 0;
    }
    /*fin main*/
    /*footer*/
    footer{
        height: 100px;
        width: 100%;
    }
    /*fin footer*/
}
/*fin para mobil*/